<h1>Login Activity</h1>
<hr>
<table class="table table-sm table-bordered table-striped">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Result</th>
      <th>IP</th>
    </tr>
  </thead>
  <tbody>
    <% @login_activities.each do |la| %>
    <tr>
      <td><%= la.created_at %></td>
      <td><%= la.success ? 'success' : 'failure' %></td>
      <td><%= la.ip %></td>
    </tr>
    <% end %>
  </tbody>
</table>