<%= render 'messages/shared/navigation' %>
<h1>Sentbox</h1>
<hr>
<h4 class="text-muted">Conversations</h4>
<table class="table table-bordered table-striped table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th width="33%">Status</th>
      <th width="33%">Subject</th>
      <th width="33%">Date</th>
    </tr>
  </thead>
  <tbody>
    <% @conversations.each do |conversation| %>
    <tr>
      <td class="text-center">
        <div class="badge badge-primary">
          <%= conversation.is_read?(current_user) ? 'seen' : 'NEW' %>
        </div>
      </td>
      <td><%= link_to conversation.subject, messages_conversation_path(conversation) %></td>
      <td><%= conversation.created_at.strftime("%b %-d, %Y %-l:%M%P") %></td>
    </tr>
    <% end %>
  </tbody>
</table>