<!DOCTYPE html>
<html>

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<body>
  <h1>You have a new reply: <%= @subject %></h1>
  <p>
    Visit
    <%= link_to short_url(messages_conversation_url(@message.conversation)), short_url(messages_conversation_url(@message.conversation)) %>
    and go to your inbox for more info.
  </p>
</body>

</html>