<!DOCTYPE html>
<html>

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<% url = Shortener::ShortenedUrl.generate(messages_conversation_url(@message.conversation)) %>
<% link = "https://investors.pincanna.com/go/" + url.unique_key %>

<body>
  <h1>You have a new reply: <%= @subject %></h1>
  <p>
    Visit
    <%= link_to root_url, root_url %>
    and go to your inbox for more info.
  </p>
</body>

</html>