<div class="card">
  <h4 class="card-header">Secure Document</h4>
  <div class="card-body">
    <dl>
      <dt>Filename</dt>
      <dd>
        <%= @document.download.attached? ? link_to(@document.download.filename, url_for(@document.download), target: '_blank') : 'No file attached' %>
        <br>
        <div class="small">Click to Download</div>
      </dd>
    </dl>
    <% if current_user.has_role?(:document_creator) %>
    <div class="access-list">
      <h4>Users with access:</h4>
      <ul>
        <% User.with_role(:viewer, Document.find(@document.id)).each do |u| %>
        <li><%= u.email %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>