<div class="page-header">
  <%= link_to encrypted_memos_path, class: 'btn btn-outline-secondary' do %>
  All Encrypted Memos
  <% end %>
  <%= link_to edit_encrypted_memo_path(@encrypted_memo), class: 'btn btn-primary' do %>
  Edit
  <% end %>
  <h1>Encrypted Memo</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @encrypted_memo.title %></dd>

  <dt>Body:</dt>
  <dd><%= @encrypted_memo.body %></dd>

</dl>